

/*-----MOBILE-----*/

/*Page Format*/
#Mobile #row{
    height: 100%;
}

/*Navigation*/
#Mobile #navigation{
    background-color: #2B2D42;
    color: white;
    height: 100%;
    width: 80px;
}

#Mobile #HamburgerIcon{
    position: fixed;
    top: 10px;
    bottom: 800px;
}

#Mobile #hb {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }

#Mobile #seperator {
    width: 50px;
    height: 1px;
    background-color: white;
    margin: 6px 0;
}

#Mobile #modeButton{
    font-size: large;
    position: fixed;
    bottom: 7px;
}

#Mobile #BehindNav{
    background-color: #2B2D42;
    width: 80px;
}

/*Main Content Area*/
#Mobile #bodyContent{
    background-color: #FFF9F1;
    text-align: center;
}

/*Welcome Page*/
#Mobile #eventsTable table{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
#Mobile #eventsTable table tr{
    border: 1px solid;
}
#Mobile #eventsTable table th{
    border: 1px solid;
    padding: 5px;
}
#Mobile #eventsTable table td{
    border: 1px solid;
    padding: 5px;
}

#Mobile #openTimes p{
    margin: 0%;
}

/*Menu*/
#Mobile #foodTable table{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
#Mobile #foodTable table tr{
    border: 1px solid;
}
#Mobile #foodTable table th{
    border: 1px solid;
    padding: 5px;
}
#Mobile #foodTable table td{
    border: 1px solid;
    padding: 5px;
}

#Mobile #drinkTable table{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
#Mobile #drinkTable table tr{
    border: 1px solid;
}
#DesktopandTablet #drinkTable table th{
    border: 1px solid;
    padding: 5px;
}
#Mobile #drinkTable table td{
    border: 1px solid;
    padding: 5px;
}
#Mobile #drinkTable{
    padding-bottom: 20px;
}

/*Locations*/

#Mobile #map{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    padding-bottom: 20px;
}

/*About Us*/


/*Contact*/
#Mobile #contactForm{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
}

/*Footer*/
#Mobile footer{
    background-color: #2B2D42;
    color: white;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

#Mobile #FooterImage{
    height: 50px;
    width: 50px;
    padding: 10px;
}